*.user
*.cache
*.xml
*.dll
*.exe
*.pdb
.vs/
Db/bin/
Db/obj/
Flow/bin/
Flow/obj/
FlowEngine/bin/
FlowEngine/obj/
Http/bin/
Http/obj/
Interfaces/bin/
Interfaces/obj/
Log/bin/
Log/obj/
Session/bin/
Session/obj/
Validation/bin/
Validation/obj/
